/* https://coolors.co/palette/0b090a-161a1d-660708-a4161a-ba181b-e5383b-b1a7a6-d3d3d3-f5f3f4-ffffff */

@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* background-image: url("img/doodle.png"); */
    background-repeat: repeat;
    background-attachment: fixed;

}

h1 {
    font-size: 70px;
    font-weight: 900;
    text-shadow: 0 0 100px white;
    color: #660708;
}

h2 {
    font-size: 30px;
    font-weight: 900;
    /* text-shadow: 0 0 100px white; */
    color: #ddd;
}



#header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 30px 50px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    z-index: 1;
    font-family: 'Mynerve', cursive;
}

#header a {
    text-decoration: none;
}

#header p {
    font-size: 60px;  
}

#header .logo {
    font-family: 'Mynerve', cursive;
    font-weight: 600;
    color: black;
}

#header .headline {
    font-family: 'Mynerve', cursive;
    /* color: rgb(235, 235, 235); */
    color: #bbb;
}

#main {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 40px;
}

#main .bubble {
    margin-bottom: 100px;
    width: 32%;
    height: 70vh;    
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* background-image: url("img/shirts/stayhorny/stayhorny1.JPG"); */
    /* background-size: cover; */
}

@keyframes imagerun {
    0% {background-image: url("img/shirts-bubble/bb1.JPG");} 
    20% {background-image: url("img/shirts-bubble/bb2.JPG");}
    40% {background-image: url("img/shirts-bubble/bb3.JPG");}
    60% {background-image: url("img/shirts-bubble/bb4.JPG");}
    80% {background-image: url("img/shirts-bubble/bb0.JPG");}
    100% {background-image: url("img/shirts-bubble/bb1.JPG");}
}

#shirts-bubble {
    background-image: url("img/shirts-bubble/bb1.JPG");
    background-size: cover;
    
}

#shirts-bubble:hover {
    animation-name: imagerun;
    animation-duration: 4s;
}

#main .bubble:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 1);
    transition: 0.8s ease;
    
}


#bags-bubble, #other-bubble {
    /* background-image: url("img/bags/green.jpg"); */
    background-size: cover;
    background-color: #bbb;
}

#main .bubble img {
    width: 100%;
    border-radius: 20px;
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: 0.1s ease;
}



#main .bubble img:hover {
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

@media (max-width: 500px) {

    #main {
        flex-wrap: wrap;   
        margin-top: 20px;
        padding: 0 15px; 
    }

    #main .bubble {
        width: 100%;
    }

    #header {
    padding: 15px 25px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    }

    #header .headline {
        font-size: 30px;
    }

    #header .logo {
        font-size: 40px;
    }

    #header img {
        width: 40px;
        height: 40px;
    }





}






